<body>
    <!--Wrapper Start-->
    <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
        <!--Header Start-->
        <app-menu></app-menu>

        <!--************************************
				Home Slider Start
		*************************************-->
        <div id="tg-homebannerslider" class="tg-homebannerslider tg-haslayout">
            <div class="tg-homeslider tg-homebanner tg-haslayout">
                <figure class="item" data-vide-bg="poster: /assets/images/imgs/photo_13.jpg"
                    data-vide-options="position: 0% 50%">
                    <figcaption>
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="tg-slidercontent">
                                    
                                        <h1>228TRANSFERS</h1>
                                        <h2>Votre service de transports et de conciergerie à Lyon</h2>
                                    </div>
                                    <div class="container" *ngIf="screenWidth >= 568">
                                        <div class="tg-formtheme tg-formtrip">
                                            <form>
                                                <fieldset>
                                                    <div class="form-group">
                                                        <div>
                                                            <label>Date de Depart<sup>*</sup></label>
                                                            <input type="date" name="date" class="form-control"
                                                                placeholder />
                                                        </div>
                                                        <div>
                                                            <label>Date de Retour</label>
                                                            <input type="date" name="date" class="form-control"
                                                                placeholder />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div>
                                                            <label>Heure de Depart<sup>*</sup></label>
                                                            <input type="time" name="heure" class="form-control"
                                                                placeholder />
                                                        </div>
                                                        <div>
                                                            <label>Heure de Retour</label>
                                                            <input type="time" name="heure" class="form-control"
                                                                placeholder />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Depart <sup>*</sup></label>
                                                        <input type="text" name="firstname" class="form-control"
                                                            placeholder="Adresse de Depart" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Destination <sup>*</sup></label>
                                                        <input type="text" name="firstname" class="form-control"
                                                            placeholder="Adresse de Destination" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Type De Transfert</label>
                                                        <div class="tg-select">
                                                            <select class="selectpicker" data-live-search="true"
                                                                data-width="100%">
                                                                <option value="Aller_Simple" data-tokens="Duration">Aller Simple</option>
                                                                <option value="Aller_Retour_Simple" data-tokens="2 weeks">Aller Retour simple</option>
                                                                <option value="Aller_Retour_Programmer" data-tokens="3 weeks">Aller retour Programmer</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <button class="tg-btn custom-button" type="submit">
                                                            <span class="text-bold">Estimer la course</span>
                                                        </button>
                                                    </div>
                                                </fieldset>

                                            </form>
                                        </div>
                                    </div>
                                    <div class="container" *ngIf="screenWidth < 568">
                                        <div class="tg-formtheme tg-formtrip custom-tg-formtrip">
                                            <form>
                                                <fieldset>
                                                    <div class="form-group custom-form-group">
                                                        <div class="custom-col-md-5">
                                                            <label class="custom-label">Date de Depart<sup>*</sup></label>
                                                            <input type="date" name="date" class="form-control"
                                                                placeholder />
                                                        </div>
                                                        <div class="custom-col-md-5">
                                                            <label class="custom-label">Heure de Depart<sup>*</sup></label>
                                                            <input type="time" name="heure" class="form-control"
                                                                placeholder />
                                                        </div>
                                                    </div>
                                                    <div class="form-group custom-form-group">
                                                        
                                                        <div class="custom-col-md-5">
                                                            <label class="custom-label">Date de Retour<sup>*</sup></label>
                                                            <input type="date" name="date" class="form-control"
                                                                placeholder />
                                                        </div>
                                                        <div class="custom-col-md-5">
                                                            <label class="custom-label">Heure de Retour<sup>*</sup></label>
                                                            <input type="time" name="heure" class="form-control"
                                                                placeholder />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="custom-label" >Depart <sup>*</sup></label>
                                                        <input type="text" name="firstname" class="form-control"
                                                            placeholder="Adresse de Depart" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="custom-label">Destination <sup>*</sup></label>
                                                        <input type="text" name="firstname" class="form-control"
                                                            placeholder="Adresse de Destination" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="custom-label" >Type De Transfert</label>
                                                        <div class="tg-select">
                                                            <select class="selectpicker" data-live-search="true"
                                                                data-width="100%">
                                                                <option data-tokens="Duration">Duration</option>
                                                                <option data-tokens="2 weeks">2 weeks</option>
                                                                <option data-tokens="3 weeks">3 weeks</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    
                                                </fieldset>
                                                <div class="form-group">
                                                    <button class="tg-btn custom-button" type="submit">
                                                        <span class="text-bold">Estimer la course</span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <!--************************************
				Home Slider End
		*************************************-->
        <main id="tg-main" class="tg-main tg-haslayout">
            <!--Advantures Start-->
            <section class="tg-sectionspace tg-haslayout">
                
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="tg-toursdestinations">
                                
                                <div class="tg-adventuretitle">
                                    <h3>228TRANSFERS À LYON</h3>
                                </div>
                                
                                <div class="tg-tourdestination tg-tourdestinationbigbox">
                                    <figure>
                                        <a href="javascript:void(0);">
                                            <img src="/assets/images/destination/img-01.jpg" alt="image destinations">
                                            <!-- <div class="tg-hoverbox">
                                                <div class="tg-adventuretitle">
                                                    <h2>Chamonix</h2>
                                                </div>
                                            </div> -->
                                        </a>
                                    </figure>
                                </div>
                                <div class="tg-tourdestination">
                                    <figure>
                                        <a href="javascript:void(0);">
                                            <img src="/assets/images/destination/img-02.jpg" alt="image destinations">
                                            <!-- <div class="tg-hoverbox">
                                                <div class="tg-adventuretitle">
                                                    <h2>Les 2 Alpes</h2>
                                                </div>
                                            </div> -->
                                        </a>
                                    </figure>
                                </div>
                                <div class="tg-tourdestination">
                                    <figure>
                                        <a href="javascript:void(0);">
                                            <img src="/assets/images/destination/img-03.jpg" alt="image destinations">
                                            <!-- <div class="tg-hoverbox">
                                                <div class="tg-adventuretitle">
                                                    <h2>Les Arcs</h2>
                                                </div>
                                            </div> -->
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--Features Start-->
			<section class="tg-sectionspace tg-zerotoppadding tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="tg-features">
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<div class="tg-feature">
									<div class="tg-featuretitle">
										<h2><span>01</span>Service Efficace</h2>
									</div>
									<div class="tg-description">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer nihil imperdiet doming...</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<div class="tg-feature">
									<div class="tg-featuretitle">
										<h2><span>02</span>Traitement Rapide</h2>
									</div>
									<div class="tg-description">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer nihil imperdiet doming...</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<div class="tg-feature">
									<div class="tg-featuretitle">
										<h2><span>03</span>Chauffeur Professionnel</h2>
									</div>
									<div class="tg-description">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer nihil imperdiet doming...</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

            <!--Popular Tour Start-->
            <section class="tg-parallax" data-appear-top-offset="600" data-parallax="scroll"
                data-image-src="/assets/images/imgs/photo_10.jpg">
                <div class="tg-sectionspace tg-haslayout">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="tg-sectiontitle tg-sectiontitleleft">
                                    <h2>Nos Vehicules</h2>
                                </div>
                                <div id="tg-populartoursslider"
                                    class="tg-populartoursslider tg-populartours owl-carousel">
                                    <div class="item tg-populartour">
                                        <figure>
                                            <a href="#">
                                                <img src="/assets/images/imgs/img_1.jpg" alt="image destinations">
                                            </a>
                                        </figure>
                                        <div class="tg-populartourcontent">
                                            <div class="tg-populartourtitle">
                                                <h3>
                                                    <a href="#">Berline Standard</a>
                                                </h3>
                                            </div>
                                            <div class="tg-description">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                                    nonummy nibh...
                                                </p>
                                            </div>
                                            <div class="tg-populartourfoot">
                                                <div class="tg-durationrating">
                                                    <span class="tg-tourduration">Disponible en 6h</span>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item tg-populartour">
                                        <figure>
                                            <a href="#">
                                                <img src="/assets/images/imgs/img_2.jpg" alt="image destinations">
                                            </a>
                                        </figure>
                                        <div class="tg-populartourcontent">
                                            <div class="tg-populartourtitle">
                                                <h3>
                                                    <a href="#">Berline Business</a>
                                                </h3>
                                            </div>
                                            <div class="tg-description">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                                    nonummy nibh...
                                                </p>
                                            </div>
                                            <div class="tg-populartourfoot">
                                                <div class="tg-durationrating">
                                                    <span class="tg-tourduration">Disponible en 12h</span>
                                                </div>   
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item tg-populartour">
                                        <figure>
                                            <a href="#">
                                                <img src="/assets/images/imgs/img_3.jpg" alt="image destinations">
                                            </a>
                                        </figure>
                                        <div class="tg-populartourcontent">
                                            <div class="tg-populartourtitle">
                                                <h3>
                                                    <a href="#">Van Standard</a>
                                                </h3>
                                            </div>
                                            <div class="tg-description">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                                    nonummy nibh...
                                                </p>
                                            </div>
                                            <div class="tg-populartourfoot">
                                                <div class="tg-durationrating">
                                                    <span class="tg-tourduration">Disponible en 24h</span>
                                                </div>   
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item tg-populartour">
                                        <figure>
                                            <a href="#">
                                                <img src="/assets/images/imgs/img_4.jpg" alt="image destinations">
                                            </a>
                                        </figure>
                                        <div class="tg-populartourcontent">
                                            <div class="tg-populartourtitle">
                                                <h3>
                                                    <a href="#">Van Business</a>
                                                </h3>
                                            </div>
                                            <div class="tg-description">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                                    nonummy nibh...
                                                </p>
                                            </div>
                                            <div class="tg-populartourfoot">
                                                <div class="tg-durationrating">
                                                    <span class="tg-tourduration">Disponible en 48h</span>
                                                </div>   
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Our Destination Start-->
            <section class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="tg-ourdestination">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle">
                                <figure>
                                    <img src="/assets/images/placeholder/placeholder-01.png" alt="image destinations">
                                </figure>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle">
                                <div class="tg-ourdestinationcontent">
                                    <div class="tg-sectiontitle tg-sectiontitleleft">
                                        <h2>Nos Destinations</h2>
                                    </div>
                                    <div class="tg-description">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                            consectetuer adipiscing elit, sed diam nonummy nibh...
                                        </p>
                                    </div>
                                    <a class="tg-btn" href="#">
                                        <span>Voir Nos Articles</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Destination Start-->
            <section class="tg-sectionspace tg-zerotoppadding tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div id="tg-destinationsslider" class="tg-destinationsslider tg-destinations owl-carousel">
                            <div class="item tg-destination">
                                <figure>
                                    <a href="#">
                                        <img src="/assets/images/destination/img-04.jpg" alt="image description">
                                    </a>
                                    <figcaption>
                                        <h2>
                                            <a href="#">VALMOREL</a>
                                        </h2>
                                        <div class="tg-description"></div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item tg-destination">
                                <figure>
                                    <a href="#">
                                        <img src="/assets/images/destination/img-05.jpg" alt="image description">
                                    </a>
                                    <figcaption>
                                        <h2>
                                            <a href="#">CHAMONIX</a>
                                        </h2>
                                        <div class="tg-description"></div>
                                    </figcaption>
                                </figure>
                                <figure>
                                    <a href="#">
                                        <img src="/assets/images/destination/img-06.jpg" alt="image description">
                                    </a>
                                    <figcaption>
                                        <h2>
                                            <a href="#">LES ARCS</a>
                                        </h2>
                                        <div class="tg-description"></div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item tg-destination">
                                <figure>
                                    <a href="javascript:void(0);">
                                        <img src="/assets/images/destination/img-07.jpg" alt="image description">
                                    </a>
                                    <figcaption>
                                        <h2>
                                            <a href="javascript:void(0);">LES 2ALPES</a>
                                        </h2>
                                        <div class="tg-description"></div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item tg-destination">
                                <figure>
                                    <a href="javascript:void(0);">
                                        <img src="/assets/images/destination/img-04.jpg" alt="image description">
                                    </a>
                                    <figcaption>
                                        <h2>
                                            <a href="javascript:void(0);">LES MENUIRES</a>
                                        </h2>
                                        <div class="tg-description"></div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item tg-destination">
                                <figure>
                                    <a href="javascript:void(0);">
                                        <img src="/assets/images/destination/img-05.jpg" alt="image description">
                                    </a>
                                    <figcaption>
                                        <h2>
                                            <a href="javascript:void(0);">LES ARCS</a>
                                        </h2>
                                        <div class="tg-description"></div>
                                    </figcaption>
                                </figure>
                                <figure>
                                    <a href="javascript:void(0);">
                                        <img src="/assets/images/destination/img-06.jpg" alt="image description">
                                    </a>
                                    <figcaption>
                                        <h2>
                                            <a href="javascript:void(0);">LYON</a>
                                        </h2>
                                        <div class="tg-description"></div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item tg-destination">
                                <figure>
                                    <a href="javascript:void(0);">
                                        <img src="/assets/images/destination/img-07.jpg" alt="image description">
                                    </a>
                                    <figcaption>
                                        <h2>
                                            <a href="javascript:void(0);">VALMOREL</a>
                                        </h2>
                                        <div class="tg-description"></div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Call To Action Start-->
            <section class="tg-parallax" data-appear-top-offset="600" data-parallax="scroll"
                data-image-src="/assets/images/parallax/bgparallax-02.jpg">
                <div class="tg-sectionspace tg-haslayout">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="tg-calltoaction">
                                    <div class="tg-pattern">
                                        <img src="/assets/images/patternw.png" alt="image destination">
                                    </div>
                                    <h2>EN QUETE DE NOUVELLE DESTINATIONS DE REVE ?</h2>
                                    <div class="tg-description">
                                        <h5 class="text-white">Rejoignez-nous sur 228TRANSFERS</h5>
                                    </div>
                                    <a class="tg-btn" href="javascript:void(0);">
                                        <span>
                                            Nous Reserver Maintenant 
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Our Partners Start-->
            <section class="tg-parallax" data-appear-top-offset="600" data-parallax="scroll"
                data-image-src="/assets/images/parallax/bgparallax-03.jpg">
                <div class="tg-sectionspace tg-haslayout">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="tg-ourpartners">
                                    <div class="tg-pattern">
                                        <img src="/assets/images/patternw.png" alt="image destination">
                                    </div>
                                    <h2>Nos partenaires</h2>
                                    <ul class="tg-partners">
                                        <li>
                                            <figure>
                                                <a href="javascript:void(0);">
                                                    <img src="/assets/images/partners/img-01.png"
                                                        alt="image destinations">
                                                </a>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <a href="javascript:void(0);">
                                                    <img src="/assets/images/partners/img-02.png"
                                                        alt="image destinations">
                                                </a>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <a href="javascript:void(0);">
                                                    <img src="/assets/images/partners/img-03.png"
                                                        alt="image destinations">
                                                </a>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <a href="javascript:void(0);">
                                                    <img src="/assets/images/partners/img-04.png"
                                                        alt="image destinations">
                                                </a>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <a href="javascript:void(0);">
                                                    <img src="/assets/images/partners/img-05.png"
                                                        alt="image destinations">
                                                </a>
                                            </figure>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!--Footer Start-->
        <app-footer></app-footer>
    </div>

</body>